name: Ultimate Kivy Build (Fast Cache)
on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Сохраняем глобальные загрузки (Android SDK/NDK)
      - name: Cache Buildozer global directory
        uses: actions/cache@v4
        with:
          path: ~/.buildozer
          key: buildozer-global-${{ hashFiles('buildozer.spec') }}

      # 2. Сохраняем локальные компиляции твоего проекта
      - name: Cache .buildozer local directory
        uses: actions/cache@v4
        with:
          path: .buildozer
          key: buildozer-local-${{ hashFiles('buildozer.spec') }}

      # 3. Тот самый надежный сборщик
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Titan-App
          path: ${{ steps.buildozer.outputs.filename }}
          
