name: Build Titan OS Monolith

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # Мы убираем старый кэш, чтобы он не тащил ошибки путей
      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses6 libncursesw6 cmake libffi-dev libssl-dev build-essential
          pip install --upgrade pip
          pip install --user "cython<3.0.0" buildozer
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Build APK with Buildozer
        run: |
          # Жёсткая зачистка перед билдом
          rm -rf .buildozer
          # Указываем Python-for-android использовать правильный NDK
          export ANDROID_NDK_HOME=$HOME/.buildozer/android/platform/android-ndk-r25b
          export ANDROID_NDK_ROOT=$ANDROID_NDK_HOME
          
          yes | buildozer -v android debug
        env:
          BUILDOZER_ALLOW_ORG_NAME_AS_DOMAIN: 1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-OS-Debug
          path: bin/*.apk
          
