name: Build Super-APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: System Init
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev ccache libltdl-dev \
          patch python3-setuptools
          pip install --upgrade pip
          pip install buildozer "cython<3.0" virtualenv
      - name: Build Command
        run: yes | buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: Nebula-Super-V8
          path: bin/*.apk
          
