name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Deps
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev ccache libltdl-dev
          pip install buildozer "cython<3.0" virtualenv
      - name: Build
        run: yes | buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: Nebula-Cyber-V5
          path: bin/*.apk
          
