name: Build Nebula APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Buildozer APK
        uses: ArtemSerebrennikov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.9

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Evolution-Pro
          path: bin/*.apk
          
