name: Titan OS Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer and Dependencies
        run: |
          # Установка базовых системных зависимостей
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          # Установка самого билдозера и цитона
          pip install buildozer cython git+https://github.com/kivy/buildozer.git

      - name: Build with Buildozer
        run: |
          # Мы используем 'yes |', чтобы автоматически принять все лицензии SDK
          # Это был наш классический способ до переноса лицензий в .spec
          yes | buildozer android debug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Titan-APK
          path: bin/*.apk
          
