name: Build Titan APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev \
          libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
          libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev \
          zip unzip openjdk-17-jdk
          pip3 install --user --upgrade "cython<3.0.0" wheel setuptools buildozer virtualenv

      - name: Build with Buildozer
        run: |
          export APP_ANDROID_ACCEPT_SDK_LICENSE=1
          # Убираем лишние флаги, запускаем чистую сборку
          buildozer -v android debug
        env:
          GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx2048m"

      - name: Upload Artifact
        # ОЧЕНЬ ВАЖНО: Используем v4, так как v3 устарела (это было на твоем первом скрине)
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-APK
          path: bin/*.apk
          
