name: Build Nebula Pro
on: 
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Force Expand Memory (Safe Swap)
        run: |
          # Полная очистка перед созданием
          sudo swapoff -a || true
          sudo rm -f /mnt/swapfile || true
          # Создаем файл подкачки на 10 ГБ в разделе /mnt
          sudo fallocate -l 10G /mnt/swapfile
          sudo chmod 600 /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile
          free -h

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # Добавлен gettext для решения проблемы с autopoint
          sudo apt-get install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev ccache libltdl-dev \
          patch python3-setuptools gettext
          pip install --upgrade pip
          pip install buildozer "cython<3.0" virtualenv

      - name: Build with Buildozer
        run: |
          # Чистим старые неудачные попытки
          buildozer android clean
          # Запуск сборки (это займет 15-20 минут из-за тяжелых библиотек)
          yes | buildozer android debug
        env:
          _JAVA_OPTIONS: "-Xmx4g"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Pro-Final
          path: bin/*.apk
          
