name: Build Nebula Master Ultra
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Maximize Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost"
          sudo docker image prune -af
          sudo pkill -9 java || true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Buildozer and Cython Fix
        run: |
          pip install --upgrade pip
          pip install "Cython<3.0.0" wheel virtualenv buildozer

      - name: Build APK (Fixing Conflicts)
        run: |
          export PATH=$PATH:~/.local/bin
          export GRADLE_OPTS="-Xmx6g -Dorg.gradle.daemon=false -Dorg.gradle.workers.max=1"
          # ФИКС: Очистка старых конфликтующих сборок
          rm -rf .buildozer/android/platform/build-arm64-v8a/dists
          yes | buildozer -v android debug
        env:
          BUILDOZER_ALLOW_ORG_NAME_START: 1

      - name: Upload Nebula APK
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Ultimate-V8-Final
          path: bin/*.apk
          
