name: Build Titan APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev
          sudo apt install -y libgstreamer1.0-gstreamer-lite1.0-dev libgstreamer-plugins-base1.0-dev
          pip3 install --user --upgrade buildozer cython virtualenv

      - name: Build with Buildozer
        run: |
          # Указываем buildozer собрать debug APK
          buildozer android debug
        env:
          # Принимаем лицензии SDK автоматически
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: NebulaTitan-v5-0-3
          path: bin/*.apk
          
