name: Build Titan OS Monolith

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest # Сейчас это Ubuntu 24.04 или 22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer Dependencies
        run: |
          sudo apt update
          # Убрали libtinfo5, добавили libncurses6 и общие пакеты для совместимости
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses6 libncursesw6 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build APK with Buildozer
        run: |
          # Авто-принятие лицензий и запуск сборки
          yes | buildozer -v android debug
        env:
          BUILDOZER_ALLOW_ORG_NAME_AS_DOMAIN: 1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-OS-Debug
          path: bin/*.apk
          
