name: Build Titan APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev ffmpeg \
          libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
          libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev \
          libgstreamer1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
          zip unzip openjdk-17-jdk

          pip3 install --user --upgrade buildozer cython==0.29.33 virtualenv

      - name: Build with Buildozer
        run: |
          # Принимаем лицензии Android заранее
          yes | buildozer android debug || true 
          # Повторный запуск для завершения, если первый упал на лицензиях
          buildozer android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"
          GRADLE_OPTS: "-Dorg.gradle.daemon=false"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-APK
          path: bin/*.apk
          
