name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt update
          # Мы убрали libtinfo5 и добавили современные аналоги
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev ccache libltdl-dev
          pip install --upgrade pip
          pip install buildozer "cython<3.0" virtualenv

      - name: Build APK with Buildozer
        run: |
          # Команда очистки перед сборкой, чтобы не было конфликтов
          buildozer android clean
          # Собираем
          yes | buildozer android debug
        env:
          # Это поможет избежать некоторых ошибок переполнения буфера
          PYTHONPATH: .

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NebulaAI-Pro-Final
          path: bin/*.apk
          
