      - name: Install Android SDK and Accept Licenses
        run: |
          # Установка command-line tools
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk
          mkdir -p ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest
          # Скачивание актуальных инструментов (если их нет)
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip commandlinetools-linux-9477386_latest.zip
          mv cmdline-tools/* ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/
          
          # Установка переменных окружения
          export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
          export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools
          
          # Принятие всех лицензий (критически важно)
          yes | sdkmanager --licenses || true
          
