name: Build Nebula APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSerebrennikov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.9
        env:
          # Это поможет пропустить вопросы во время сборки
          ACCEPT_SDK_LICENSE: "y"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Pro-Max-APK
          path: bin/*.apk
          
