name: Build Nebula Pro
on: 
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Expand Memory and Clean Swap
        run: |
          # Отключаем все старые свопы, чтобы избежать "Text file busy"
          sudo swapoff -a || true
          sudo rm -f /mnt/swapfile || true
          # Создаем новый своп на 12ГБ в разделе /mnt (там больше места)
          sudo fallocate -l 12G /mnt/swapfile
          sudo chmod 600 /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile
          free -h

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          # Добавлен gettext для фикса autopoint и libltdl-dev
          sudo apt-get install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev ccache libltdl-dev \
          patch python3-setuptools gettext libltdl-dev
          pip install --upgrade pip
          pip install buildozer "cython<3.0" virtualenv

      - name: Build with Buildozer
        run: |
          # Глубокая очистка перед стартом, чтобы избежать FileNotFoundError
          rm -rf .buildozer/
          # Запуск сборки
          yes | buildozer android debug
        env:
          # Выделяем больше памяти для Java (нужно для тяжелых либ)
          _JAVA_OPTIONS: "-Xmx4g"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Evolution-Pro
          path: bin/*.apk
          
