name: Build Nebula PRO Master
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Free Disk & Set RAM Limit
        run: |
          # Чистим мусор, чтобы освободить место
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
          # Создаем 4Гб Swap. Итого будет ~11Гб виртуальной памяти
          sudo fallocate -l 4G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          free -h

      - name: Install System Deps
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3 python3-dev ffmpeg \
          libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
          libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev \
          zlib1g-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev \
          libsqlite3-dev sqlite3 bzip2 libbz2-dev libssl-dev openssl \
          libgdbm-dev libgdbm-compat-dev liblzma-dev libreadline-dev \
          uuid-dev libffi-dev tk-dev autoconf automake libtool libtool-bin pkg-config curl
          
          pip install --user --upgrade buildozer Cython==0.29.33 virtualenv

      - name: Build Android APK
        run: |
          export PATH=$PATH:~/.local/bin
          # Ограничиваем аппетит Java (Gradle) до 3 Гб, оставляя 5 Гб чисто под Torch
          export GRADLE_OPTS="-Dorg.gradle.jvmargs=-Xmx3G -Dorg.gradle.daemon=false"
          buildozer android clean
          buildozer -v android debug
        continue-on-error: false

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Nebula_Master_APK
          path: bin/*.apk
          
