name: Build Nebula APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: Luka967/buildozer-action@v1.2.3
        with:
          buildozer_version: master
          python_version: 3.9
        env:
          ACCEPT_SDK_LICENSE: "y"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-APK
          path: bin/*.apk
          
