name: Build Nebula Ultra APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Исправленный блок очистки места и создания Swap
      - name: Free Disk Space (Fixing Text file busy)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: false # Оставляем SDK для сборки
          dotnet: true
          ghc: true
          haskell: true
          large-packages: true
          docker-images: true
          swap: true # Автоматически создает swap нужного размера

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Buildozer and Dependencies
        run: |
          pip install --upgrade pip
          pip install "Cython<3.0.0" wheel virtualenv buildozer
          sudo apt-get update
          sudo apt-get install -y libsqlite3-dev lld python3-dev

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # Настройка лимитов для предотвращения вылета по памяти
          export GRADLE_OPTS="-Xmx4g -Dorg.gradle.workers.max=1"
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Nebula-Ultra-V7-Release
          path: bin/*.apk
          
