name: Build Titan APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # Используем официальный Docker-образ для изоляции среды
        uses: docker://kivy/buildozer:master
        with:
          # Запускаем команду сборки внутри контейнера
          args: android debug
        env:
          # Это предотвращает зависания при запросе подтверждения лицензий
          BUILDOZER_ALLOW_ORG_NAME_AS_DOMAIN: 1
          APP_ANDROID_ACCEPT_SDK_LICENSE: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-Debug-APK
          path: bin/*.apk
          retention-days: 7
          
