name: Build Titan APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python_version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # Указываем Buildozer работать в неинтерактивном режиме
          yes | buildozer android debug
        env:
          # Принимаем лицензии SDK автоматически
          APP_ANDROID_ACCEPT_SDK_LICENSE: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NebulaTitan-Debug-APK
          path: bin/*.apk
          retention-days: 7
          
