name: Titan OS Final Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache Buildozer
        uses: actions/cache@v3
        with:
          path: |
            ~/.buildozer
            .buildozer
          key: ${{ runner.os }}-buildozer-v2-${{ hashFiles('buildozer.spec') }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Packages
        run: |
          sudo apt update
          # Фикс libtinfo: заменяем 5 на 6 версию
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses6 libncursesw6 libtinfo6 cmake libffi-dev libssl-dev
          pip install buildozer cython git+https://github.com/kivy/buildozer.git

      - name: Build APK
        # Убрали 'yes |', теперь лицензии принимаются в buildozer.spec
        run: buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Titan-APK
          path: bin/*.apk
          
